* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar  {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.600);
}
::-webkit-scrollbar-thumb {
    background-color: #fff500;
}
body {
    background-color: #303030;
}
/* var */
input.inp-1 {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #2c2c2c;
    padding-left: 10px;
    font-weight: 600;
    font-family: sans-serif;
    outline: 0;
    transition: 0.4s;
}
input.inp-1:focus {
    background-color: #2c2c2c;
    border-color: #fff500;
}
button.btn-1 {
    min-width: 70px;
    height: 35px;
    padding: 0 10px;
    background: none;
    border: 1px solid #fff;
    font-size: 18px;
    transition: 0.4s;
}
button.btn-1:hover {
    border: 1px solid #fff500;
    color: #fff500;
}
button.btn-2 {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
button.btn-2 img {
    width: 25px;
}


header {
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
div.header {
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.header div.logo a {
    width: 100%;
    height: 100%;
}
div.header div.logo {
    width: 25%;
    padding-left: 50px;
}
div.header div.logo img {
    width: 180px;
}
div.header div.button {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
}
div.header div.button a {
    width: 40%;
    height: 100%;
}
div.header div.button a {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 24px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
div.header div.button a:hover {
    color: #fff500;
}
div.account {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
div.account a {
    margin: 0 5px;
}

div.start {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.start img {
    width: 800px;
}
div.popular {
    width: 100vw;
    height: 100vh;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.popular h1 {
    font-size: 60px;
    margin-top: 20px;
}


div.authWindows {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.loginRegister {
    width: 340px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.login {
    height: 200px;
}
div.loginRegister a {
    position: absolute;
    align-self: flex-start;
    margin: 15px 0 0 5px;
}
div.loginRegister a img {
    width: 45px;
}
div.loginRegister h1 {
    margin: 10px 0;
    font-size: 35px;
    color: #fff500;
}
div.loginRegister form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.loginRegister form div.place {
    width: 86%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
div.loginRegister form div.place label {
    font-size: 17px;
}
div.loginRegister form button {
    align-self: flex-end;
    margin: 15px 28px 20px 0;
}
div.loginRegister form a.link {
    position: static;
    margin: 5px 25px 0 0;
    color: #fff500;
    align-self: flex-end;
    font-family: sans-serif;
}

/* profile */
div.window {
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.window h1 {
    opacity: 0;
}
div.profile {
    width: 600px;
    height: 340px;
    opacity: 0;
    background-color: #2c2c2c;
    border-radius: 12px;
    border: 2px solid #fff;
    display: flex;
}
div.profile img.back {
    position: absolute;
    width: 30px;
    margin: 10px;
}
div.profile div.splitwin {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.profile div.splitwin:last-child {
    border-left: 1px solid #fff;
}
div.profile div.splitwin div.image {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    border-radius: 100%;
    margin-top: 15px;
}
div.profile div.splitwin div.image img {
    width: 100%;
}
div.profile div.splitwin div.input {
    padding: 0 5px;
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.profile div.splitwin div.input p {
    font-size: 20px;
    text-align: center;
}
div.profile div.splitwin p.text 
{
    font-size: 30px; 
    width: 100%;
    text-align: center;
    color: #fff500;
    border-bottom: 1px solid #fff;
}
div.profile div.splitwin div.yourstate {
    width: 100%;
}
div.profile div.splitwin div.yourstate div.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 30px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
}
div.profile div.splitwin div.yourstate div.container div.b1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}
/* chart */
div.chartwindow {
    width: 100vw;
    min-height: 100vh;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;

}
div.chartwindow h1 {
    color: #fff500;
    font-size: 60px;
}
div.songschart {
    width: 80%;
    min-height: 100vh;
}
div.songschart div.song {
    width: 100%;
    height: 85px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #252525;
    margin-top: 15px;
    transition: 0.4s;
    opacity: 0;
    transform: translateX(-3500);
}
div.songschart div.song:active {
    background-color: #505050;
}
div.songschart div.song:last-child {
    margin-bottom: 100px;
}
div.songschart div.song div.number {
    width: 3%;
    text-align: center;
    font-size: 20px;
}
div.songschart div.song div.img {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.songschart div.song div.img img {
    width: 50px;
}
div.songschart div.song div.name {
    width: 79%;
    padding-left: 10px;
}
div.songschart div.song div.name p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
div.songschart div.song div.like {
    width: 6%;
    display: flex;
    justify-content: space-between;
}
div.songschart div.song div.like a img {
    width: 25px;
}

div.songschart div.song div.time {
    width: 10%;
    text-align: center;
    font-size: 22px;
}
div.buttonmenu {
    margin: 0 auto;
    width: 40%;
    height: 85px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background-color: #252525;
    margin-top: 15px;
}

div.fon {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.734);
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1000px;
}
div.fon div.windows {
    width: 20%;
    min-height: 440px;
    background-color: #2c2c2c;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
div.fon div.windows h1 {
    color: #fff500;
    font-size: 50px;
}
div.fon div.windows img {
    position: absolute;
}
div.fon div.windows form div.inp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
div.fon div.windows p {
    font-size: 30px;
    font-weight: 600;
    color: #fff500;
}
div.fon div.windows button.btn-1 {
    margin: 25px 0;
}

/* mediaplaers */
div.backmedia {
    width: 100vw;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    /* pointer-events: none; */
    bottom: -1010px;
    transition: 0.4s;
}
div.media {
    width: 700px;
    height: 70px;
    border-radius:  12px 12px;
    padding: 0 5px;
    background-color: #181818;
}
div.media div.info {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
div.media div.info div.button {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.media div.info div.button img {
    width: 40px;
}
div.media div.info div.img {
    width: 8%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
div.media div.info div.img img {
    width: 100%;
    height: 100%;
}
div.media div.info div.name {
    width: 70%;
    padding-left: 10px;
    height: 100%;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
}
div.media div.info div.time {
    width: 100px;
    text-align: start;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

div.errorlist {
    width: 300px;
    background-color: #181818;
    position: fixed;
    margin-top: 20px;
    left: -1000px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
div.errorlist p {
    padding: 5px 0 0 5px;
}
div.errorlist p:first-child {
    text-align: center;
    font-weight: 600;
}
div.errorlist div.errorLineFon {
    background-color: #000;
    border-radius: 0 0 4px 4px;
}
div.errorlist div.errorLine {
    width: 100%;
    height: 5px;
    background-color: red;
    border-radius: 0 0 4px 4px;
} 
.animeHeader {
    transform: translateX(-100);
    opacity: 0;
}
#dsd {
    transform: translateX(-1000);
}

@media (width <= 900px) {
    header {
        height: 120px;
    }
    div.header {
        flex-direction: column;
        min-height: 70px;
    }
    div.logo {
        display: none;
    }
    div.header div.button {
        width: 100vw;
        margin: 0;
        font-size: 20px;
    }
    div.header div.button a{
        font-size: 18px;
    }
    div.account {
        width: 100vw;
        padding: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
    div.songschart {
        width: 100vw;
    }
    div.songschart div.song {
        width: 95%;
        margin: 10px auto;
    }
    div.songschart div.song div.img {
        width: auto;
        margin: 0 3px;
        justify-self: start;

    }
    div.songschart div.song div.name {
        padding: 0;
    }
    div.songschart div.song div.name p {
        font-size: 18px;
    }
    div.songschart div.song div.time {
        display: none;
    }
    div.songschart div.song div.like {
        width: auto;
    }
    div.backmedia {
        width: 100%
    }
    div.backmedia div.media {
        width: 95%;
    }
    div.backmedia div.media div.button {
        width: auto;
    }
    div.backmedia div.media div.img {
        width: auto;
    }
    div.backmedia div.media div.name p {
        font-size: 19px;
    }
    div.fon div.windows {
        width: 90%;
    }
    div#profileWindow {
        justify-content: flex-start;
    }
    div.profile {
        height: auto;
    }
    div.profile div.splitwin div.input {
        flex-direction: column;
    }
    div.profile div.splitwin {
        align-self: center;
    }
    div.profile div.splitwin div.input p:first-child {
        border-bottom: 1px solid #fff;
    }
}